{% extends 'doctor\base.html' %}

{% block content %}

<div class="glass-card">

    <h1 class="page-title">

        Appointments

    </h1>

    <div class="table-responsive">

        <table class="table table-hover align-middle">

            <thead>

                <tr>

                    <th>Patient</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Reason</th>

                </tr>

            </thead>

            <tbody>

                {% for appointment in appointments %}

                <tr>

                    <td>
                        {{ appointment.patient_full_name }}
                    </td>

                    <td>
                        {{ appointment.date }}
                    </td>

                    <td>
                        {{ appointment.time }}
                    </td>

                    <td>
                        {{ appointment.reason }}
                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}